# https://doc.traefik.io/traefik/reference/static-configuration/file/

api:
  insecure: true

providers:
  docker:
    exposedByDefault: false

entryPoints:
  web:
    address: :80
  metrics:
    address: :8082

log: 
  level: ERROR
  format: json

metrics: 
  prometheus:
    entryPoint: metrics
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true

    